---
title: Page name
subtitle: Columns template
description: Test description
---

{% extends "columns.j2" %}

{% block main %}
## Main content

[hyde-bootstrap](http://github.com/auzigog/hyde-bootstrap/) is a layout for Hyde based on the Bootstrap framework.

This particular page is based on Bootstrap's [container-app.html](http://twitter.github.com/bootstrap/examples/container-app.html) example.
{% endblock main %}


{% block sidebar %}
<h3>Sidebar content</h3>
<p>No markdown applied here so you can do as you please.</p>

<strong>Now for some <a href="http://hipsteripsum.me/">hipster ipsum</a></strong>:
<p>Locavore vice etsy, sustainable salvia gentrify yr cardigan keffiyeh. Bicycle rights fanny pack sartorial, lomo raw denim synth wayfarers sustainable 8-bit squid cred helvetica DIY aesthetic. Farm-to-table gluten-free PBR synth stumptown, next level lo-fi wes anderson banksy food truck salvia. Keytar single-origin coffee echo park you probably haven't heard of them, 8-bit Austin twee 3 wolf moon shoreditch yr food truck. Master cleanse cosby sweater sustainable next level. Next level single-origin coffee farm-to-table seitan mcsweeney's. Beard four loko cardigan photo booth.</p>


{% endblock sidebar %}