---
title: Jumbotron
subtitle: Jumbotron template
description: Test description
---

{% extends "jumbotron.j2" %}

{% block headline %}
# Hello, world!

Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.

This particular page is based on Bootstrap's [jumbotron](https://github.com/twbs/bootstrap/blob/3.0.0-wip/examples/jumbotron/index.html) example.
{% endblock headline %}
{% block button %}
Learn More
{% endblock button %}

{% block column1 %}
## Heading

{{ dummy_text }}
{% endblock column1 %}
{% block button1 %}
View Details
{% endblock button1 %}

{% block column2 %}
## Heading

Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
{% endblock column2 %}
{% block button2 %}
View Details
{% endblock button2 %}

{% block column3 %}
## Heading

Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
{% endblock column3 %}
{% block button3 %}
View Details
{% endblock button3 %}