---
title: Page name
subtitle: Columns template
description: Test description
---

{% extends "columns.j2" %}

{% block headline %}
# Hello World!

This particular page is based on Bootstrap's [offcanvas.html](https://github.com/twbs/bootstrap/tree/3.0.0-wip/examples/offcanvas) example.
{% endblock headline %}

{% block column1 %}
## Heading

Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
{% endblock column1 %}
{% block button1 %}
View Details
{% endblock button1 %}

{% block column2 %}
## Heading

Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
{% endblock column2 %}
{% block button2 %}
View Details
{% endblock button2 %}

{% block column3 %}
## Heading

Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
{% endblock column3 %}
{% block button3 %}
View Details
{% endblock button3 %}

{% block column4 %}
## Heading

Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
{% endblock column4 %}
{% block button4 %}
View Details
{% endblock button4 %}

{% block column5 %}
## Heading

Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
{% endblock column5 %}
{% block button5 %}
View Details
{% endblock button5 %}

