{% if site.config.mode == "production" %}
{# asynchronous google analytics: mathiasbynens.be/notes/async-analytics-snippet #}
{# best pacement is right before /head #}
<script>
  var _gaq = [['_setAccount', '{{ google_analytics_id }}'], ['_trackPageview']];
  (function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.src = '//www.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
  }(document, 'script'));
</script>
{% endif %}